* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body *{
	font-size: 1.6rem;
}

/*end setup styles*/

h1 {
	font-size: 2.4rem;
}

footer {
	position: absolute;
	background-color: #000;
	color: #FFF;
	text-align: right;
	width: 100%;
	bottom: 0;
	padding: 7px;
}

header {
	background-color: #000;
	color: #FFF;
	font-size: 2.6rem;
	padding: 7px;
}

header>h1 {
	margin: 0;
}