* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body *{
	font-size: 1.6rem;
	margin: 5px;
}

/*end setup styles*/

h1 {
	font-size: 2.4rem;
}

footer {
	background-color: #000;
	color: #FFF;
	text-align: right;
	width: 100%;
	padding: 7px;
	margin: -5px;
	margin-top: 9px;
}

header {
	background-color: #000;
	color: #FFF;
	font-size: 2.6rem;
	padding: 7px;
	margin: -5px;
	margin-bottom: 9px;
}

header>h1 {
	margin: 0;
}

#content {
	margin-left: 20px;
}

code {
	background-color: #BBB;
	padding: 1px;
}